In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
cars = pd.read_csv("CarPrice_Assignment.csv")

In [3]:
cars_original = pd.read_csv("CarPrice_Assignment.csv")

In [4]:
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
#checking different levels of door numbers and cylindernumber
cars.doornumber.astype('category').value_counts(),cars.cylindernumber.astype('category').value_counts()

(four    115
 two      90
 Name: doornumber, dtype: int64,
 four      159
 six        24
 five       11
 eight       5
 two         4
 twelve      1
 three       1
 Name: cylindernumber, dtype: int64)

In [6]:
#Function to map the cotegorical levels to actual numbers
def num_map(x):
    return x.map({'four':4,'six':6,'five':5,'eight':8,'two':2,'twelve':12,'three':3})

In [7]:
#applying function
cars[["doornumber","cylindernumber"]] = cars[["doornumber","cylindernumber"]].apply(num_map)

In [8]:
#applying function to cars_original
cars_original[["doornumber","cylindernumber"]] = cars_original[["doornumber","cylindernumber"]].apply(num_map)

In [9]:
cars.doornumber.value_counts(),cars.cylindernumber.value_counts()

(4    115
 2     90
 Name: doornumber, dtype: int64,
 4     159
 6      24
 5      11
 8       5
 2       4
 12      1
 3       1
 Name: cylindernumber, dtype: int64)

In [10]:
cars_categorical = cars_original.select_dtypes(include=['object'])

In [11]:
cars_categorical.head()

,CarName,fueltype,aspiration,carbody,drivewheel,enginelocation,enginetype,fuelsystem
0,alfa-romero giulia,gas,std,convertible,rwd,front,dohc,mpfi
1,alfa-romero stelvio,gas,std,convertible,rwd,front,dohc,mpfi
2,alfa-romero Quadrifoglio,gas,std,hatchback,rwd,front,ohcv,mpfi
3,audi 100 ls,gas,std,sedan,fwd,front,ohc,mpfi
4,audi 100ls,gas,std,sedan,4wd,front,ohc,mpfi

In [12]:
cars[["doornumber",'cylindernumber']].head()

   doornumber  cylindernumber
0           2               4
1           2               4
2           2               6
3           4               4
4           4               5

In [13]:
#splitting company name from carname in car_categorical
def split_company(x):
    k=[]
    for i in range(len(x)):
        y = x.values[i].split(" ")
        k.append(y[0])
    return k
CName = pd.Series(split_company(cars_categorical.CarName))
CName.value_counts().sum()

205

In [14]:
#better function to do above
def split_company2(x):
    return x.split(" ")[0]

CompanyName = cars_categorical.CarName.apply(split_company2)# apply() function applies the function to earch series element
CompanyName.value_counts()

toyota         31
nissan         17
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
volkswagen      9
dodge           9
buick           8
bmw             8
plymouth        7
audi            7
saab            6
isuzu           4
porsche         4
alfa-romero     3
jaguar          3
chevrolet       3
vw              2
renault         2
maxda           2
vokswagen       1
toyouta         1
mercury         1
porcshce        1
Nissan          1
Name: CarName, dtype: int64

In [15]:
#insert CarName into cars_categorical
cars_categorical.insert(0,"CompanyName",CompanyName)
cars_categorical.head()

,CompanyName,CarName,fueltype,aspiration,carbody,drivewheel,enginelocation,enginetype,fuelsystem
0,alfa-romero,alfa-romero giulia,gas,std,convertible,rwd,front,dohc,mpfi
1,alfa-romero,alfa-romero stelvio,gas,std,convertible,rwd,front,dohc,mpfi
2,alfa-romero,alfa-romero Quadrifoglio,gas,std,hatchback,rwd,front,ohcv,mpfi
3,audi,audi 100 ls,gas,std,sedan,fwd,front,ohc,mpfi
4,audi,audi 100ls,gas,std,sedan,4wd,front,ohc,mpfi

In [16]:
#Drop CarName
cars_categorical.drop(['CarName'],axis=1,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
cars_categorical.head()

,CompanyName,fueltype,aspiration,carbody,drivewheel,enginelocation,enginetype,fuelsystem
0,alfa-romero,gas,std,convertible,rwd,front,dohc,mpfi
1,alfa-romero,gas,std,convertible,rwd,front,dohc,mpfi
2,alfa-romero,gas,std,hatchback,rwd,front,ohcv,mpfi
3,audi,gas,std,sedan,fwd,front,ohc,mpfi
4,audi,gas,std,sedan,4wd,front,ohc,mpfi

In [18]:
cars_categorical.CompanyName.value_counts()

toyota         31
nissan         17
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
volkswagen      9
dodge           9
buick           8
bmw             8
plymouth        7
audi            7
saab            6
isuzu           4
porsche         4
alfa-romero     3
jaguar          3
chevrolet       3
vw              2
renault         2
maxda           2
vokswagen       1
toyouta         1
mercury         1
porcshce        1
Nissan          1
Name: CompanyName, dtype: int64

In [19]:
cars_categorical.CompanyName.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [20]:
#Replace wrong CompanyName with correct one
#1.convert all names to lowercase
cars_categorical.CompanyName = cars_categorical.CompanyName.str.lower()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [21]:
#Replace function
def replace_name(a,b):
    cars_categorical.CompanyName.replace(a,b,inplace=True)

In [22]:
replace_name('maxda','mazda')
replace_name('porcshce','porsche')
replace_name('toyouta','toyota')
replace_name('vokswagen','volkswagen')
replace_name('vw','volkswagen')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [23]:
cars_categorical.CompanyName.value_counts().sum()

205

In [24]:
#convert into dummies
cars_dummies=pd.get_dummies(cars_categorical,drop_first = True)

In [25]:
cars_dummies.head(),cars_dummies.shape

(   CompanyName_audi  CompanyName_bmw  CompanyName_buick  \
 0                 0                0                  0
 1                 0                0                  0
 2                 0                0                  0
 3                 1                0                  0
 4                 1                0                  0

    CompanyName_chevrolet  CompanyName_dodge  CompanyName_honda  \
 0                      0                  0                  0
 1                      0                  0                  0
 2                      0                  0                  0
 3                      0                  0                  0
 4                      0                  0                  0

    CompanyName_isuzu  CompanyName_jaguar  CompanyName_mazda  \
 0                  0                   0                  0
 1                  0                   0                  0
 2                  0                   0                  0
 3                  0                   0                  0
 4                  0                   0                  0

    CompanyName_mercury  ...  enginetype_ohcf  enginetype_ohcv  \
 0                    0  ...                0                0
 1                    0  ...                0                0
 2                    0  ...                0                1
 3                    0  ...                0                0
 4                    0  ...                0                0

    enginetype_rotor  fuelsystem_2bbl  fuelsystem_4bbl  fuelsystem_idi  \
 0                 0                0                0               0
 1                 0                0                0               0
 2                 0                0                0               0
 3                 0                0                0               0
 4                 0                0                0               0

    fuelsystem_mfi  fuelsystem_mpfi  fuelsystem_spdi  fuelsystem_spfi
 0               0                1                0                0
 1               0                1                0                0
 2               0                1                0                0
 3               0                1                0                0
 4               0                1                0                0

 [5 rows x 43 columns],
 (205, 43))

In [26]:
#drop categorical_columns from cars
cars = cars.drop(list(cars_original.select_dtypes(include=['object']).columns),axis=1)

In [27]:
cars.head()

,car_ID,symboling,doornumber,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,2,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,2,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,2,94.5,171.2,65.5,52.4,2823,6,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,4,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,4,99.4,176.6,66.4,54.3,2824,5,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [28]:
#concatinate dummies with new cars
cars = pd.concat([cars,cars_dummies],axis=1)

In [29]:
cars.columns

Index(['car_ID', 'symboling', 'doornumber', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'cylindernumber', 'enginesize',
       'boreratio', 'stroke', 'compressionratio', 'horsepower', 'peakrpm',
       'citympg', 'highwaympg', 'price', 'CompanyName_audi', 'CompanyName_bmw',
       'CompanyName_buick', 'CompanyName_chevrolet', 'CompanyName_dodge',
       'CompanyName_honda', 'CompanyName_isuzu', 'CompanyName_jaguar',
       'CompanyName_mazda', 'CompanyName_mercury', 'CompanyName_mitsubishi',
       'CompanyName_nissan', 'CompanyName_peugeot', 'CompanyName_plymouth',
       'CompanyName_porsche', 'CompanyName_renault', 'CompanyName_saab',
       'CompanyName_subaru', 'CompanyName_toyota', 'CompanyName_volkswagen',
       'CompanyName_volvo', 'fueltype_gas', 'aspiration_turbo',
       'carbody_hardtop', 'carbody_hatchback', 'carbody_sedan',
       'carbody_wagon', 'drivewheel_fwd', 'drivewheel_rwd',
       'enginelocation_rear', 'enginetype_dohcv', 'enginetype_l',
       'enginetype_ohc', 'enginetype_ohcf', 'enginetype_ohcv',
       'enginetype_rotor', 'fuelsystem_2bbl', 'fuelsystem_4bbl',
       'fuelsystem_idi', 'fuelsystem_mfi', 'fuelsystem_mpfi',
       'fuelsystem_spdi', 'fuelsystem_spfi'],
      dtype='object')

In [30]:
#Drop the ID column
cars.drop('car_ID',axis=1,inplace=True)

In [31]:
cars.head()

,symboling,doornumber,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,...,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,3,2,88.6,168.8,64.1,48.8,2548,4,130,3.47,...,0,0,0,0,0,0,0,1,0,0
1,3,2,88.6,168.8,64.1,48.8,2548,4,130,3.47,...,0,0,0,0,0,0,0,1,0,0
2,1,2,94.5,171.2,65.5,52.4,2823,6,152,2.68,...,0,1,0,0,0,0,0,1,0,0
3,2,4,99.8,176.6,66.2,54.3,2337,4,109,3.19,...,0,0,0,0,0,0,0,1,0,0
4,2,4,99.4,176.6,66.4,54.3,2824,5,136,3.19,...,0,0,0,0,0,0,0,1,0,0

# 3. Model building and evaluation

In [32]:
#Split train, test data
from sklearn.model_selection import train_test_split
df_train,df_test = train_test_split(cars,train_size=0.7,test_size=0.3,random_state=100)

In [33]:
cars_numeric = cars_original.select_dtypes(exclude=['object'])

In [34]:
#All numeric columns in cars+ cylindernumber and doornumber
cars_numeric.columns

Index(['car_ID', 'symboling', 'doornumber', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'cylindernumber', 'enginesize',
       'boreratio', 'stroke', 'compressionratio', 'horsepower', 'peakrpm',
       'citympg', 'highwaympg', 'price'],
      dtype='object')

In [35]:
#importing standardscalar()
from sklearn.preprocessing import StandardScaler

#creating a scaling object
scaler = StandardScaler()

#creating a list of variables you need to scale
varlist = ['symboling', 'doornumber', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'cylindernumber', 'enginesize',
       'boreratio', 'stroke', 'compressionratio', 'horsepower', 'peakrpm',
       'citympg', 'highwaympg', 'price']

#scaling these variables using 'fit_transform'
df_train[varlist]=scaler.fit_transform(df_train[varlist])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [36]:
df_train.head()

,symboling,doornumber,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,...,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
122,0.170159,0.887412,-0.811836,-0.487238,-0.924500,-1.134628,-0.642128,-0.351431,-0.660242,-1.297329,...,0,0,0,1,0,0,0,0,0,0
125,1.848278,-1.126872,-0.677177,-0.359789,1.114978,-1.382026,0.439415,-0.351431,0.637806,2.432256,...,0,0,0,0,0,0,0,1,0,0
166,0.170159,-1.126872,-0.677177,-0.375720,-0.833856,-0.392434,-0.441296,-0.351431,-0.660242,-0.259197,...,0,0,0,0,0,0,0,1,0,0
1,1.848278,-1.126872,-1.670284,-0.367754,-0.788535,-1.959288,0.015642,-0.351431,0.123485,0.625138,...,0,0,0,0,0,0,0,1,0,0
199,-1.507960,0.887412,0.972390,1.225364,0.616439,1.627983,1.137720,-0.351431,0.123485,1.201877,...,0,0,0,0,0,0,0,1,0,0

In [37]:
#Split train into x and y
y_train=df_train.pop('price')
x_train= df_train

## Building the first model with all the variables

In [38]:
from sklearn.linear_model import LinearRegression
#instantiate
lm = LinearRegression()
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
#print(lm.coef)
#print(lm.intercept)

## Model building using RFE

In [40]:
#import RFE
from sklearn.feature_selection import RFE

#RFE with 15 features
rfe1 = RFE(lm,15)

#fit with 15 features
rfe1.fit(x_train, y_train)

#print the boolean result
print(rfe1.support_)

[False False False False  True False False False  True False False  True
 False False False False False  True False False False False False False
  True False  True False  True False False  True False  True False False
 False  True False False False False False False False  True False  True
 False  True False  True False False  True False False False False]

In [41]:
print(rfe1.ranking_)

[41 39 28 31  1 26 17 32  1 18 33  1 23 24 37 30  9  1 34  8  6  4 25 29
  1 43  1  2  1  7 11  1 21  1  3  5 40  1 16 14 12 13 15 35 38  1 22  1
 20  1 42  1 36 10  1 44 27 19 45]

## Model building and evaluation

In [42]:
#import statsmodels
import statsmodels.api as sm

#subset the features selected by rfe1
col1=x_train.columns[rfe1.support_]

#subsetting training data from 15 selected columns
x_train_rfe1=x_train[col1]

#add a constant to the model
x_train_rfe1 = sm.add_constant(x_train_rfe1)
x_train_rfe1.head()

,const,carwidth,enginesize,compressionratio,CompanyName_bmw,CompanyName_mazda,CompanyName_mitsubishi,CompanyName_peugeot,CompanyName_renault,CompanyName_subaru,fueltype_gas,enginelocation_rear,enginetype_l,enginetype_ohcf,enginetype_rotor,fuelsystem_idi
122,1.0,-0.924500,-0.660242,-0.172569,0,0,0,0,0,0,1,0,0,0,0,0
125,1.0,1.114978,0.637806,-0.146125,0,0,0,0,0,0,1,0,0,0,0,0
166,1.0,-0.833856,-0.660242,-0.172569,0,0,0,0,0,0,1,0,0,0,0,0
1,1.0,-0.788535,0.123485,-0.278345,0,0,0,0,0,0,1,0,0,0,0,0
199,1.0,0.616439,0.123485,-0.675002,0,0,0,0,0,0,1,0,0,0,0,0

In [43]:
#Fitting the model with 15 variables
lm1 = sm.OLS(y_train,x_train_rfe1).fit()
print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.920
Model:                            OLS   Adj. R-squared:                  0.912
Method:                 Least Squares   F-statistic:                     114.1
Date:                Tue, 20 Jul 2021   Prob (F-statistic):           4.59e-64
Time:                        09:55:57   Log-Likelihood:                -22.314
No. Observations:                 143   AIC:                             72.63
Df Residuals:                     129   BIC:                             114.1
Df Model:                          13
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                      0.4776      0.162      2.940      0.004       0.156       0.799
carwidth                   0.4304      0.046      9.403      0.000       0.340       0.521
enginesize                 0.4790      0.045     10.594      0.000       0.390       0.568
compressionratio          -0.4505      0.162     -2.781      0.006      -0.771      -0.130
CompanyName_bmw            1.0678      0.131      8.141      0.000       0.808       1.327
CompanyName_mazda         -0.2439      0.106     -2.299      0.023      -0.454      -0.034
CompanyName_mitsubishi    -0.3956      0.112     -3.517      0.001      -0.618      -0.173
CompanyName_peugeot       -1.4098      0.338     -4.171      0.000      -2.079      -0.741
CompanyName_renault       -0.6778      0.214     -3.173      0.002      -1.100      -0.255
CompanyName_subaru        -0.8458      0.122     -6.915      0.000      -1.088      -0.604
fueltype_gas              -0.6269      0.208     -3.016      0.003      -1.038      -0.216
enginelocation_rear        1.4894      0.211      7.071      0.000       1.073       1.906
enginetype_l               0.8983      0.307      2.921      0.004       0.290       1.507
enginetype_ohcf            0.6436      0.109      5.905      0.000       0.428       0.859
enginetype_rotor           0.9536      0.188      5.076      0.000       0.582       1.325
fuelsystem_idi             1.1045      0.369      2.995      0.003       0.375       1.834
==============================================================================
Omnibus:                        8.408   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.015   Jarque-Bera (JB):                9.825
Skew:                           0.399   Prob(JB):                      0.00735
Kurtosis:                       4.005   Cond. No.                     2.41e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.98e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### Check VIF values of feature variables

In [45]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [46]:
#create a dataframe that will contain the names of all the feature variables and their respective VIFs
vif=pd.DataFrame()
vif['Features'] = x_train_rfe1.columns
vif['VIF']=[variance_inflation_factor(x_train_rfe1.values,i) for i in range(x_train_rfe1.shape[1])]
vif['VIF']=round(vif['VIF'],2)
vif = vif.sort_values(by='VIF', ascending=False)
vif

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

                  Features    VIF
9       CompanyName_subaru    inf
10            fueltype_gas    inf
11     enginelocation_rear    inf
13         enginetype_ohcf    inf
15          fuelsystem_idi    inf
3         compressionratio  42.32
7      CompanyName_peugeot   9.73
12            enginetype_l   8.99
1                 carwidth   3.38
2               enginesize   3.30
14        enginetype_rotor   1.55
5        CompanyName_mazda   1.50
6   CompanyName_mitsubishi   1.20
4          CompanyName_bmw   1.12
8      CompanyName_renault   1.01
0                    const   0.00

### Repeat

In [56]:
#RFE with 10 features
rfe2 = RFE(lm,10)

#fit with 10 features
rfe2.fit(x_train, y_train)

#print the boolean result
list(zip(x_train.columns,rfe2.support_,rfe2.ranking_))

[('symboling', False, 46),
 ('doornumber', False, 44),
 ('wheelbase', False, 33),
 ('carlength', False, 36),
 ('carwidth', True, 1),
 ('carheight', False, 31),
 ('curbweight', False, 22),
 ('cylindernumber', False, 37),
 ('enginesize', True, 1),
 ('boreratio', False, 23),
 ('stroke', False, 38),
 ('compressionratio', False, 4),
 ('horsepower', False, 28),
 ('peakrpm', False, 29),
 ('citympg', False, 42),
 ('highwaympg', False, 35),
 ('CompanyName_audi', False, 14),
 ('CompanyName_bmw', True, 1),
 ('CompanyName_buick', False, 39),
 ('CompanyName_chevrolet', False, 13),
 ('CompanyName_dodge', False, 11),
 ('CompanyName_honda', False, 9),
 ('CompanyName_isuzu', False, 30),
 ('CompanyName_jaguar', False, 34),
 ('CompanyName_mazda', False, 6),
 ('CompanyName_mercury', False, 48),
 ('CompanyName_mitsubishi', False, 5),
 ('CompanyName_nissan', False, 7),
 ('CompanyName_peugeot', True, 1),
 ('CompanyName_plymouth', False, 12),
 ('CompanyName_porsche', False, 16),
 ('CompanyName_renault', True, 1),
 ('CompanyName_saab', False, 26),
 ('CompanyName_subaru', True, 1),
 ('CompanyName_toyota', False, 8),
 ('CompanyName_volkswagen', False, 10),
 ('CompanyName_volvo', False, 45),
 ('fueltype_gas', False, 3),
 ('aspiration_turbo', False, 21),
 ('carbody_hardtop', False, 19),
 ('carbody_hatchback', False, 17),
 ('carbody_sedan', False, 18),
 ('carbody_wagon', False, 20),
 ('drivewheel_fwd', False, 40),
 ('drivewheel_rwd', False, 43),
 ('enginelocation_rear', True, 1),
 ('enginetype_dohcv', False, 27),
 ('enginetype_l', True, 1),
 ('enginetype_ohc', False, 25),
 ('enginetype_ohcf', True, 1),
 ('enginetype_ohcv', False, 47),
 ('enginetype_rotor', True, 1),
 ('fuelsystem_2bbl', False, 41),
 ('fuelsystem_4bbl', False, 15),
 ('fuelsystem_idi', False, 2),
 ('fuelsystem_mfi', False, 49),
 ('fuelsystem_mpfi', False, 32),
 ('fuelsystem_spdi', False, 24),
 ('fuelsystem_spfi', False, 50)]

In [57]:
#subset the features selected by rfe1
col2=x_train.columns[rfe2.support_]

#subsetting training data from 15 selected columns
x_train_rfe2=x_train[col2]

#add a constant to the model
x_train_rfe2 = sm.add_constant(x_train_rfe2)
x_train_rfe2.head()

,const,carwidth,enginesize,CompanyName_bmw,CompanyName_peugeot,CompanyName_renault,CompanyName_subaru,enginelocation_rear,enginetype_l,enginetype_ohcf,enginetype_rotor
122,1.0,-0.924500,-0.660242,0,0,0,0,0,0,0,0
125,1.0,1.114978,0.637806,0,0,0,0,0,0,0,0
166,1.0,-0.833856,-0.660242,0,0,0,0,0,0,0,0
1,1.0,-0.788535,0.123485,0,0,0,0,0,0,0,0
199,1.0,0.616439,0.123485,0,0,0,0,0,0,0,0

In [58]:
#Fitting the model with 10 variables
lm2 = sm.OLS(y_train,x_train_rfe2).fit()
print(lm2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.907
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     144.3
Date:                Tue, 20 Jul 2021   Prob (F-statistic):           3.98e-64
Time:                        11:19:52   Log-Likelihood:                -33.027
No. Observations:                 143   AIC:                             86.05
Df Residuals:                     133   BIC:                             115.7
Df Model:                           9
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  -0.0506      0.030     -1.675      0.096      -0.110       0.009
carwidth                0.4611      0.047      9.801      0.000       0.368       0.554
enginesize              0.4806      0.047     10.124      0.000       0.387       0.575
CompanyName_bmw         1.1247      0.138      8.162      0.000       0.852       1.397
CompanyName_peugeot    -1.2582      0.354     -3.550      0.001      -1.959      -0.557
CompanyName_renault    -0.6256      0.226     -2.770      0.006      -1.072      -0.179
CompanyName_subaru     -0.7985      0.129     -6.192      0.000      -1.054      -0.543
enginelocation_rear     1.4538      0.223      6.519      0.000       1.013       1.895
enginetype_l            0.9450      0.326      2.902      0.004       0.301       1.589
enginetype_ohcf         0.6553      0.115      5.678      0.000       0.427       0.884
enginetype_rotor        0.6927      0.172      4.029      0.000       0.353       1.033
==============================================================================
Omnibus:                        5.615   Durbin-Watson:                   1.942
Prob(Omnibus):                  0.060   Jarque-Bera (JB):                5.456
Skew:                           0.349   Prob(JB):                       0.0654
Kurtosis:                       3.655   Cond. No.                     6.01e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.98e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [59]:
vif2=pd.DataFrame()
vif2['Features'] = x_train_rfe2.columns
vif2['VIF']=[variance_inflation_factor(x_train_rfe2.values,i) for i in range(x_train_rfe2.shape[1])]
vif2['VIF']=round(vif2['VIF'],2)
vif2 = vif2.sort_values(by='VIF', ascending=False)
vif2

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

               Features   VIF
6    CompanyName_subaru   inf
7   enginelocation_rear   inf
9       enginetype_ohcf   inf
4   CompanyName_peugeot  9.49
8          enginetype_l  8.95
2            enginesize  3.23
1              carwidth  3.17
0                 const  1.31
10     enginetype_rotor  1.15
3       CompanyName_bmw  1.09
5   CompanyName_renault  1.01

In [62]:
x_train_rfe_new = x_train_rfe2.drop(['CompanyName_subaru','enginetype_ohcf','CompanyName_peugeot','enginetype_l'],axis=1)

In [63]:
x_train_rfe_new.columns

Index(['const', 'carwidth', 'enginesize', 'CompanyName_bmw',
       'CompanyName_renault', 'enginelocation_rear', 'enginetype_rotor'],
      dtype='object')

In [64]:
#Fitting the model with 6 variables
lm3 = sm.OLS(y_train,x_train_rfe_new).fit()
print(lm3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.896
Model:                            OLS   Adj. R-squared:                  0.891
Method:                 Least Squares   F-statistic:                     195.2
Date:                Tue, 20 Jul 2021   Prob (F-statistic):           2.92e-64
Time:                        12:44:33   Log-Likelihood:                -41.121
No. Observations:                 143   AIC:                             96.24
Df Residuals:                     136   BIC:                             117.0
Df Model:                           6
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  -0.0748      0.029     -2.578      0.011      -0.132      -0.017
carwidth                0.3978      0.045      8.785      0.000       0.308       0.487
enginesize              0.5204      0.048     10.846      0.000       0.426       0.615
CompanyName_bmw         1.1294      0.144      7.838      0.000       0.844       1.414
CompanyName_renault    -0.5879      0.236     -2.492      0.014      -1.054      -0.121
enginelocation_rear     2.0419      0.346      5.908      0.000       1.358       2.725
enginetype_rotor        0.7640      0.178      4.295      0.000       0.412       1.116
==============================================================================
Omnibus:                        7.920   Durbin-Watson:                   1.970
Prob(Omnibus):                  0.019   Jarque-Bera (JB):                7.687
Skew:                           0.497   Prob(JB):                       0.0214
Kurtosis:                       3.549   Cond. No.                         16.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [65]:
vif2=pd.DataFrame()
vif2['Features'] = x_train_rfe_new.columns
vif2['VIF']=[variance_inflation_factor(x_train_rfe_new.values,i) for i in range(x_train_rfe_new.shape[1])]
vif2['VIF']=round(vif2['VIF'],2)
vif2 = vif2.sort_values(by='VIF', ascending=False)
vif2

              Features   VIF
2           enginesize  3.01
1             carwidth  2.68
6     enginetype_rotor  1.12
0                const  1.10
3      CompanyName_bmw  1.09
5  enginelocation_rear  1.08
4  CompanyName_renault  1.00